<!DOCTYPE html>
<html lang="pl">
  <head>
    <script
      src="https://kit.fontawesome.com/410a7c741c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&family=Quantico&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet" type="text/css" href="./css/warranties.css" />
    <link rel="stylesheet" type="text/css" href="./css/account.css" />
    <script type="text/javascript" src="./js/scriptAccount.js" defer></script>
  </head>
  <body>
    <div class="base-container">
      {% include '/views/navigation.html.twig' %}
      <main>
        <header>My account</header>
        <div id="info">
            <div class="detail_container">
                <div class="detail">Puste</div>
                <div class="detail_name">Name</div>
            </div>
            <div class="detail_container">
                <div class="detail">Puste</div>
                <div class="detail_name">Surname</div>
            </div>
          <div class="detail_container">
            <div class="detail">{{app.user.email}}</div>
            <div class="detail_name">Email</div>
          </div>
          <div class="detail_container">
            <div class="detail">************</div>
            <div class="detail_name">Password</div>
          </div>
          <div class="detail_container">
              <form class="login" action="logout" method="POST">
                    <button type="submit" id="sign">SIGN OUT</button>
              </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
