<nav>
    <img src="./img/logo_color.svg" />
    <ul>
        <li id="li-warranties">
            <i id="steady" class="fa-solid fa-house">
               <i id="animated" class="fa-solid fa-house fa-bounce"></i>
           </i>
           <a href="warranties" class="button">Main page</a>
        </li>
        <li id="search_block">
            <i id="steady" class="fa-solid fa-magnifying-glass">
                <i id="animated" class="fa-solid fa-magnifying-glass fa-bounce"> </i>
            </i>
            <a href="#" class="button" id="search_button">Search</a>
            <input id="searchbar" type="text" placeholder="search" style="display: none;">
        </li>
        <li id="li-archive">
            <i id="steady" class="fa-solid fa-box-archive">
                <i id="animated" class="fa-solid fa-box-archive fa-bounce"></i>
            </i>
            <a href="archive" class="button">Archive</a>
        </li>
        <li id="li-account">
            <i id="steady" class="fa-solid fa-user">
                <i id="animated" class="fa-solid fa-user fa-bounce"></i>
           </i>
           <a href="account" class="button">My account</a>
        </li>
    </ul>
</nav>