<div class="notification-overlay"></div>
<div class="notification-panel" >
    <div id="clock">
        <div class="exit">
            <i id="steady" class="fa-solid fa-xmark"
            ><i id="animated" class="fa-solid fa-xmark fa-beat"></i
                ></i>
        </div>
        <div class="edit">
            <i id="steady" class="fa-solid fa-pen-to-square"
            ><i id="animated" class="fa-solid fa-pen-to-square fa-bounce"></i
                ></i>
        </div>
        <div id="elipse">
            <div class="timebox"><b></b>&nbsp dni</div>
            <div class="timebox"><b></b>&nbsp godzin</div>
            <div class="timebox"><b></b>&nbsp minut</div>
            <div class="timebox"><b></b>&nbsp sekund</div>
            <div id="detail_receipt" style="display: none"></div>
        </div>
        <div class="delete">
            <i id="steady" class="fa-solid fa-trash"
            ><i id="animated" class="fa-solid fa-trash fa-bounce"></i
                ></i>
        </div>
        <div class="location">
            <i id="steady" class="fa-solid fa-receipt"
            ><i id="animated" class="fa-solid fa-receipt fa-bounce"></i
                ></i>
        </div>
    </div>
    <div id="info">
        <div class="detail_container">
            <div class="detail" id="detail_category"></div>
            <div class="detail_name">Category</div>
        </div>
        <div class="detail_container">
            <div class="detail" id="detail_product_name"></div>
            <div class="detail_name">Product Name</div>
        </div>
        <div class="detail_container">
            <div class="detail" id="detail_purchase_date"></div>
            <div class="detail_name">Purchase Date</div>
        </div>
        <div class="detail_container">
            <div class="detail" id="detail_warranty_period"></div>
            <div class="detail_name">Warranty Period</div>
        </div>
        <div class="detail_container">
            <div class="detail" id="detail_tags"></div>
            <div class="detail_name">Tags</div>
        </div>
    </div>
</div>