<template id="warranty-template">
    <div class="warranty_box" id="">
        <img src=""/>
        <div class="imgname"></div>
        <div class="hidden_details" style="display: none;">
            <div id="productName"></div>
            <div id="purchaseDate"></div>
            <div id="warrantyPeriod"></div>
            <div id="receipt"></div>
            <div id="tags"></div>
        </div>
    </div>
</template>
