#info {
  background-color: unset;
  width: inherit;
  justify-content: space-evenly;
  font-family: "Inter";

}
#info > .detail_container {
  max-width: 40em;
}

#sign {
  width: 80%;
  height: 5em;
  border-radius: 25px;
  color: white;
  margin: auto;
}
#sign:hover {
  background-color: transparent;
}
form.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-device-width: 1555px){
  #info {
    height: 40em;
  }
}

@media only screen and (max-device-width: 992px) {
  #info{
    height: 12em;
  }
}