body {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  background: linear-gradient(179.97deg, #076478 44.37%, #000000 99.98%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

.logo {
  width: 35%;
  margin-bottom: 3%;
}
.logo > img {
  width: 24em;
  display: block;
  margin: auto;
}
.header_login{
  display: flex;
  width: 100%;
}
.header_login,.messages{
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  letter-spacing: 0.055em;
  margin: 0em 0em 0em 1em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
.messages{
  font-size: 17px;
  font-weight: 500;
  line-height: 34px;
  height: 40px;
  display: flex;
  flex-direction: column;
  max-width: 34em;
}
.messages > ul > li {
  margin: 0;
  justify-content: center;
  color: white;
  font-family: "Roboto";
}


form.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 50%;
  margin-bottom: 3%;
}
input::placeholder {
  color: #261132;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
input, select {
  margin: 2em 1em 1em 3em;
  padding: 0px;
  max-width: 40em;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  line-height: 4.5em;
  letter-spacing: 0.25em;
  font-family: "Inter";
  text-align: center;
}

#sign {
  margin: 2em 1em 1em 3em;
  padding: 0px;
  max-width: 40em;
  background: #076478;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  line-height: 4.5em;
  letter-spacing: 0.25em;
  font-family: "Inter";
  border: none;
}

#sign:hover {
  background-color: transparent;
}
form.login > #signup {
  border: 1px solid white;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  background-color: transparent;
  text-align: center;
  color: white;
  line-height: 4em;
  letter-spacing: 0.25em;
  font-family: "Inter";
  font-size: 0.9em;
  margin: 2em 1em 1em 3em;
  max-width: 36.5em;
}
form.login > #signup:hover {
  border: 1px solid #076478;
}

#searchbar{
  margin: 0 0 0 1em;
  height: 36px;
  width: 61%;
  outline: none;
}

@media only screen and (max-device-width: 992px) {
  .container {
    flex-direction: column;
  }

  .logo {
    margin-right: 0em;
    width: unset;
    margin-bottom: unset;
  }
  form.login {
    width: 95%;
    max-width: 10em;
  }
  body {
    font-size: 48px;
  }
  .logo > img {
    width: 6em;
    display: unset;
    margin: unset;
  }

  form.login > input,
  form.login > button,
  form.login > #sign,
  form.login > #signup {
    border-radius: 25px;
    font-size: 0.3em;
    margin: 1em 1em 1em 1em;
    line-height: 4em;
  }

  #searchbar {
    position: fixed;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4em ;
    font-size: 16px;
    margin: 0;
  }
}

.base-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

nav {
  width: 20vw;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav > img {
  width: 60%;
  margin: 2em auto 4em auto;
}

ul {
  list-style-type: none;
  color: #261132;
  height: 100%;
  font: normal normal normal 15px/20px Seoge UI;
  letter-spacing: 0.72px;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 10px);
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 2em;
}
li i {
  font-size: 1.5em;
  width: 20px;
  height: 20px;
}

i#steady {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
  color: #261132;
}
i#animated {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 1em;
  width: 30px;
  height: 30px;
  color: #261132;
}

li:hover i#steady,
.edit:hover i#steady,
.delete:hover i#steady,
.location:hover i#steady,
.exit:hover i#steady {
  color: transparent;
}


li:hover i#animated,
.edit:hover i#animated,
.delete:hover i#animated,
.location:hover i#animated,
.exit:hover i#animated {
  display: unset;
}

nav > ul > li > .button {
  font-family: "Roboto";
  color: #261132;
  margin-left: 1em;
  text-align: center;
  letter-spacing: 0.7px;
  width: 60%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

li {
  text-align: center;
  margin-bottom: 2em;
}

.fa,
.fas {
  width: 1em;
}

@media only screen and (max-device-width: 992px) {
  li:hover i#animated {
    display: none;
  }
  li:hover i#steady {
    color: #261132;
  }
}

.no-valid {
  outline: none;
  background: rgba(255,0,0,0.6);
}
