main {
  width: 80vw;
  height: 100%;
  background: linear-gradient(180deg, #076478 50%, #000000 100%);
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 10vh;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: end;
  letter-spacing: 0.055em;
  margin: 0em 0em 0.5em 2em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  margin: 0em 8em 0em 3em;
  overflow: auto;
  padding: 25px 25px 0px 25px;
}

.warranties > div {
  height: 15em;
  width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25),
    inset 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.warranties > div > img {
  height: 50%;
  width: 50%;
  object-fit: fill;
  padding-top: 3em;
  margin: auto;
}

.warranties > div > .imgname {
  height: 30%;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.055em;
  color: #261132;
}

.warranties > div:hover {
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.5);
}

.add_button {
  position: absolute;
  top: 40px;
  right: 40px;
  height: 77px;
  width: 75px;
  border: none;
  padding: 0;
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.notification-panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  font-family: "Roboto";
}

.notification-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 54, 63, 0.9);
  z-index: 9998;
}
#clock {
  height: 40em;
  width: 40em;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.edit,
.delete,
.location,
.exit {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit > i,
.delete > i,
.location > i,
.exit > i {
  width: 30px;
  height: 30px;
  font-size: 1.75em;
}
.exit {
  top: 30px;
  left: 30px;
}
.edit {
  top: 30px;
  right: 30px;
}
.delete {
  bottom: 30px;
  left: 30px;
}
.location {
  bottom: 30px;
  right: 30px;
}
#elipse {
  position: relative;
  border-radius: 100%;
  width: 80%;
  height: 80%;
  border: 15px solid #261132;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #261132;
}
#detail_receipt{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#detail_receipt > img{
  height: 120%;
  width: auto;
  max-width: 80%;
}
#elipse .timebox {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 1.5em;
}
#info {
  height: 40em;
  width: 40em;
  background: rgba(7, 100, 120, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#info .detail_container {
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#info .detail {
  width: 80%;
  height: 60%;
  border: 0.5px solid #ffffff;
  border-radius: 25px;
  color: white;
  margin: auto;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
#info .detail_name {
  height: 1em;
  width: 80%;
  color: white;
  margin-top: 0px;
  letter-spacing: 3px;
}

@media only screen and (max-device-width: 1875px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-device-width: 1555px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }

  #clock {
    height: 34em;
    width: 34em;
  }

  #elipse .timebox {
    font-size: 1.5em;
  }
  #info {
    height: 34em;
    width: 34em;
    justify-content: space-evenly;
  }
  #info .detail_container {
    height: 17%;
  }
  #info .detail {
    width: 80%;
    height: 60%;
    border-radius: 22px;
    font-size: 1em;
  }
  #info .detail_name {
    height: 20%;
    width: 80%;
    margin-top: 0px;
    font-size: 0.9em;
  }
}
@media only screen and (max-device-width: 1235px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }

  #clock {
    height: 29em;
    width: 29em;
  }

  #elipse .timebox {
    font-size: 1.25em;
  }
  #info {
    height: 29em;
    width: 29em;
  }
  #info .detail {
    border-radius: 18px;
    font-size: 0.9em;
  }
  #info .detail_name {
    font-size: 0.8em;
  }
}

@media only screen and (max-device-width: 992px) {
  .base-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  nav {
    width: 100%;
    height: 10%;
    background: white;
  }
  nav > img {
    display: none;
  }

  nav > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  nav > ul > li {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  nav > ul > li > i {
    width: 30px;
    height: 30px;
    font-size: 1.6em;
  }
  i#animated {
    font-size: 1.6em;
  }

  nav > ul > li > a {
    display: none;
  }

  main {
    width: 100%;
    height: 90%;
  }

  header {
    font-size: 28px;
    margin: 1.5em 0em 0.25em 0.75em;
    padding-left: 5px;
  }

  section {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.4em;
    margin: 0;
    padding-top: 20px;
  }

  .warranties > div {
    height: 3em;
    width: 3em;
    justify-self: center;
  }

  .warranties > div > img {
    height: 50%;
    width: 50%;
    padding-top: 0.3em;
  }

  .warranties > div > .imgname {
    height: 20%;
    padding-bottom: 0.6em;
    margin: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .add_button {
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
  }
  .add_button > img {
    width: 60px;
  }

  .notification-panel {
    flex-direction: column;
  }

  #clock {
    height: 8em;
    width: 8em;
  }

  .edit,
  .delete,
  .location,
  .exit {
    width: 40px;
    height: 40px;
  }

  .exit {
    top: 20px;
    left: 20px;
  }
  .edit {
    top: 20px;
    right: 20px;
  }
  .delete {
    bottom: 20px;
    left: 20px;
  }
  .location {
    bottom: 20px;
    right: 20px;
  }

  #clock i#steady,
  #clock i#animated {
    width: 20px;
    height: 20px;
    font-size: 0.5em;
  }
  #clock i#animated {
    font-size: 1em;
  }

  #elipse {
    border: 12px solid #261132;
  }
  #elipse .timebox {
    height: 13%;
    font-size: 0.5em;
  }
  #info {
    height: 8em;
    width: 8em;
  }
  #info .detail {
    border-radius: 18px;
    font-size: 0.3em;
  }
  #info .detail_name {
    font-size: 0.25em;
  }
}

@media only screen and (max-device-width: 525px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
  header {
    width: 70%;
  }

  #clock {
    height: 6.8em;
    width: 6.8em;
  }

  #elipse {
    border: 10px solid #261132;
  }
  #elipse .timebox {
    font-size: 0.4em;
  }
  #info {
    height: 6.8em;
    width: 6.8em;
  }

  #info .detail {
    font-size: 0.28em;
  }
  #info .detail_name {
    margin-top: 4px;
    font-size: 0.22em;
  }
}

.details_background{
  display: block;
}
.details_box{
  display: flex;
}