{% extends 'base.html.twig' %}

{% block title %}
    Warranties page
{% endblock %}

{% block body %}
    {% for warranty in warranties %}
        <li>{{warranty}}</li>
    {% endfor %}
    <p>w template</p>
{% endblock %}